// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.edit-box{
	width: 800px;
	margin: 0 auto;
}

.botan{
	padding-top: 10px;
}
.links{
width: 100px;
margin-left: 5px;
}